.Header {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    left: 0;
    border: solid red 1px;
}

.ButtonHeader {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(228,125,49,1.0);
    top: 0;
    height: 40px;
    width: 200px;
    margin: 0;
    left: 0;
    border-radius: 20px;
}

.button {
    color: white;
    width: 102px;
    align-self: center;
}

#sign-up-btn {
    border-right: solid white 1px;
}

.divider {
    top: 10%;
    height: 80%;
    width: 1px;
    background: white;
  }



.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.0);
    top: 21px;
    height: 24px;
    width: 328px;
    font-size: 20px;
}


.NavItem {
    font-family: 'Helvetica',Helvetica,Arial,serif;
    width: auto;
    height: auto;
    left: -1px;
    color: rgba(74,73,74,1.0);
    line-height: 24.0px;
}
