.UserProfile {
    width: 100%;
    height: 1000px;
    position: relative;
    
}


#HeadPic {
    height: 250px;
    width: 100%;
    padding-bottom: 20px;
}

.profReviw {
    position: absolute;
    top: 150px;
    left: 80px;
    height: 500px;
    width: 250px;
}

#ProPic {
    height: 200px;
    width: 100%;
}

#profName {
    color: rgba(75,75,75,1.0);
    font-family: 'Helvetica-Bold',Helvetica,Arial,serif;
    text-align: center;
}

#profReviews {
    position: absolute;
    top: 150px;
    left: 340px;
    height: 500px;
    width: 700px;
    border: solid 1px red;
}

.NavBarProfile {
    display: inline;
}

.NavBarProfile div {
    border-bottom: 1px solid grey;
    padding: 6px;
}

#Reviewtitle {
    font-size: 20.0px;
    font-family: 'Helvetica-Bold',Helvetica,Arial,serif;
    color: rgba(48,48,48,1.0);
    line-height: 24.0px;
    position: absolute;  
    top: 120px;
    left: 20px;      
}

#headerTitel {
    display: inline;
    padding-bottom: 1px;
    margin: 1px;
    color: rgba(255,255,255,1.0);
    font-size: 18.0px;
    font-family: 'Helvetica-Bold',Helvetica,Arial,serif;
}

#headerNameTitel {
    color: rgba(255,255,255,1.0);
    font-size: 24.0px;
    font-family: 'Helvetica-Bold',Helvetica,Arial,serif;
}

#reviewList {
    color: red;
    border: solid blue 1px;
    font-size: 18.0px;
    color: rgba(75,75,75,1.0);
    
}
