.NewRestaurantForm {
    display: flex;
    width: auto;
    flex-direction: row;
    height: 900px;
    margin: 40px;
    padding: 40px 30px;
  }
  
  .Field {
    display: block;
    height: 52px;
    width: 340px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(234,234,234,1.0);
    margin: 10px;
    font-size:25px;
    color: rgba(150,150,150,1.0);
    padding-left: 10px;
  }
  
  .NewRestaurantTitel {
    height: 47px;
    width: 357px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .NewRestaurantForm hr {
      display: block;
      height: 5px;
      border: 0;
      border-top: 4px solid  rgba(228,125,49,1.0);
      width: 100px;
      border-radius: 28px;
      padding: 0;
  }
  
  .NewRestaurantForm span {
    font-size: 16.0px;
    font-family: 'Helvetica-Bold',Helvetica,Arial,serif;
    text-align: center;
    line-height: 20.0px;
    color: #4C4C4C;
    padding: 10px;
  
  }
  
  .SubmitButton {
    background-color: rgba(228,125,49,1.0);
    height: 56px;
    width: 200px;
    border-radius: 28px;
    text-align: center;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-size: 20.0px;
    font-family: 'Helvetica',Helvetica,Arial,serif;
    top: 14px;
    color: white;
  }
  
  
 