.SearchBar {
    height: 380px;
    width: 140vw;
    background: url("../../../assets/dan.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  #search-form {
    justify-self: center;
    width: 740px;
    display: flex;
    padding: 40px 30px;
  }
  
  #search-input {
    width: 530px;
    padding: 15px 10px;
    font-size: 20px;
  }
  
  .search-btn {
    width: 200px;
    color: white;
    font-size: 20px;
    margin-left: 25px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E47D31;
  }
  