.SearchBar {
  height: 380px;
  width: 100vw;
  background: url("../../../assets/dan.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-form {
  width: 755px;
  display: flex;
}

#search-input {
  width: 530px;
  padding: 15px 10px;
  font-size: 20px;
}

.search-btn {
  width: 200px;
  color: white;
  font-size: 20px;
  margin-left: 25px;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E47D31;
}